target/

### Maven ###
log/
target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Docker data
db-data/

# Coverage report
coverege-report/

# Generated
.jpb/
atm/out/
client-interface/out/
untitled/
